@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

:root{
    
    color: rgb(243, 236, 236);
  }
  
  body{
    font-family: "Creepster", system-ui;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 170%;
    margin: 0 auto;
    font-size: 40px;
  }
  
body{
background-image: url(https://img.freepik.com/vetores-gratis/fundo-abstrato-de-meio-tom_23-2148605714.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

  .image-container {

    text-align: center;
  
  }