@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

:root{
    background-color: rgba(13, 35, 158, 0.851);
    color: rgb(238, 154, 154);
  }
  
  body{
    font-family: "Creepster", system-ui;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 170%;
    margin: 0 auto;
    font-size: 40px;
  }
  
body{
background-image: url(https://www.google.com/imgres?q=fotos%20de%20fundo%20sobe%20esporte&imgurl=https%3A%2F%2Fimg.freepik.com%2Ffotos-gratis%2Fferramentas-esportivas_53876-138077.jpg&imgrefurl=https%3A%2F%2Fbr.freepik.com%2Ffotos-vetores-gratis%2Ffundo-de-esportes&docid=8CulIc_X2dlCBM&tbnid=1n5XxmKDlyx1FM&vet=12ahUKEwiujoXwwfKIAxX_pZUCHQW6DbgQM3oECG4QAA..i&w=626&h=408&hcb=2&ved=2ahUKEwiujoXwwfKIAxX_pZUCHQW6DbgQM3oECG4QAA);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

  .image-container {

    text-align: center;
  
  }