@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

:root{
    background-color: rgba(13, 35, 158, 0.851);
    color: rgb(238, 154, 154);
  }
  
  body{
    font-family: "Creepster", system-ui;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 170%;
    margin: 0 auto;
    font-size: 40px;
  }
  

  .image-container {

    text-align: center;
  
  }