@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

:root {
    color: rgb(255, 255, 255); 
}

body{
    font-family: "Creepster", system-ui;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.conteudo-principal {
    text-align: center;
    width: 100%;
    font-size: 65px;
}
 
p {
    text-align: left;
    font-size: 45px;
}
.paragrafo-esquerda{
    text-align: left;
}

body{
background-image: url(https://img.freepik.com/vetores-gratis/design-plano-de-fundo-escolar_23-2148587752.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card {
    box-shadow: 0 4px 15px rgba(241, 7, 7, 0.952);
    border-radius: 10px;
}
