@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

:root {
    background-color: rgb(216, 248, 248);
    color: black;
    --cor-de-fundo: white
    
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--texto);
    font-family: "Creepster", system-ui;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.conteudo-principal {
    text-align: center;
    width: 100%;
    font-size: 40px;
}
