@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

:root {
    background-color: azure;
    color: black;
}

body{
    background-color: var(-cor-de-fundo);
    color: var(texo);
    font-family: "Creepster", system-ui;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}